@model ESports_Models.ViewModels.OrderVM

@{
    ViewData["Title"] = "Order Details";
}

<h2>Order Details - @Model.OrderHeader.Id</h2>

<div>
    <h4>Order Info</h4>
    <dl class="row">
        <dt class="col-sm-2">Order Date</dt>
        <dd class="col-sm-10">@Model.OrderHeader.OrderDate.ToString("dd MMM yyyy")</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.OrderHeader.OrderStatus</dd>

        <dt class="col-sm-2">Payment Status</dt>
        <dd class="col-sm-10">@Model.OrderHeader.PaymentStatus</dd>

        <dt class="col-sm-2">Total Amount</dt>
        <dd class="col-sm-10">@Model.OrderHeader.OrderTotal.ToString("C")</dd>
    </dl>
</div>

<h4>Items</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price per unit</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>@item.Product.ProductName</td>
                <td>@item.Count</td>
                <td>@item.Price.ToString("C")</td>
                <td>@(item.Price* item.Count).ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

<a asp-area="Customer" asp-controller="Order" asp-action="Index" class="btn btn-secondary mt-3">Back to Orders</a>
